$cor1: #dc6938; //Laranja
$cor2: #43848c; //Teal
$cor3: #574979; //Lilas
$cor4: #771d4d; //Magenta
$cor5: #161b1c; //Petróleo
$cor6: #2a6067; //Verde Anfurgênico
$cor7: #654036; //Marrom

$branco: #FFF; //Branco
$preto: #000;