$max-width-content: 1920px;

//border-radius
@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
//transition
@mixin transition($property: all, $duration: .5s){
	-webkit-transition: $property $duration; 
	-moz-transition: $property $duration; 
	-o-transition: $property $duration;
	transition: $property $duration;
  -webkit-transform: translateZ(0px);
}
//opacity
@mixin opacity($opacity) {
  $opacity-ie: $opacity * 100;
  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie)";
  filter: alpha(opacity=$opacity-ie);
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;
}
//transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}
%clearfix {
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

@mixin bp-maior-320 {
  @media only screen and (min-width : 320px) {
    @content;
  }
}
@mixin bp-maior-480 {
   @media only screen and (min-width : 480px) {
    @content;
  }
}
@mixin bp-maior-768 {
  @media only screen and (min-width : 768px) {
    @content;
  }
}
@mixin bp-maior-992 {
  @media only screen and (min-width : 992px) {
    @content;
  }
}
@mixin bp-maior-1200 {
  @media only screen and (min-width : 1200px) {
    @content;
  }
}

