@import "_reset";
@import "_colors";
@import "_mixins";
@import "_buttons";

body {
	font-family: 'Roboto';
}
h1 {
	text-align: left;
	font-size: 32px;
	text-transform: uppercase;
	padding-top: 40px;
	margin-bottom: 15px;
	font-weight: bold;
	color: $cor-titulo;
}
p{
	line-height: 1.6em;
	margin-bottom: 20px;
	text-align: center;
}
.large-header {
	background-color: black;
	background: url('../img/space-background.jpg') no-repeat center center;
	background-size: cover;
	position: absolute;
	overflow: hidden;
	z-index: 0;
}
.content {
	width: 90%;
	max-width: $max-width-content;
	margin: 0 auto;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.header{
	color: #FFF;
	z-index: 999;
	position: absolute;
	left: 0;
	right: 0;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.5)
}
.nome {
	font-size: 32px;
	//float: left;
	//margin-left: 15px;
	line-height: 70px;
	//text-transform: uppercase;
	&> a {
		text-decoration: none;
		color:inherit;
		& >b{
			font-size: 16px;
			border: 2px solid #FFF;
			padding: 0 5px;
			text-transform: capitalize;
		}
	}
}
.menu {
	//float: right;
	//margin-right: 15px;
	&>.item-menu {
		margin: 0 15px;
		line-height: 70px;
		float: right;
		text-transform: uppercase;
		a {
			text-decoration: none;
			color:inherit;
		}
	}
}
.banner {
	position: relative;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	min-height: 430px;
}
#demo-canvas {
	background:  rgba(0,0,0,0.3); 
}
.redes-sociais {
	padding: 5px 0;
	&>.content {
		height: 50px;
		line-height: 50px;
		white-space: nowrap;
		overflow: hidden;
	}
	z-index: 5;
	width: 100%;
	font-size: 36px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	//background-color: rgba(179, 19, 37, 0.8);
	bottom:0;
	left: 0;
	right: 0;
	margin: 0;
	color: $cor-texto1;
	text-align: center;
	a {
		color: inherit;
		text-decoration: none;
		i:hover {
			@include scale(1.2);
		}
	}
}
.foto-perfil{
	text-align: center;
	&>img { 
		margin: 20px 0;
		width: 200px;
		height: auto;
		max-width: 90%;
		@include border-radius(50%);
	}
}
.card{
	max-width: 500px;
	width: 90%;
	color: $cor-texto1;
	width: auto;
	box-sizing: border-box;
	position: relative;
	margin: auto;
	height: auto;
	text-align: center;
	padding: 15px;
	&> h1 {
		text-align: center;
		color: inherit;
		font-family: 'Dancing Script';
		font-weight: bold;
		font-size: 62px;
	}
	&> p {
		line-height: 24px;
		margin: 10px 0;
		font-weight: 400;
		font-size: 20px;
	}
	@include transition(background-color 0.2s);
	background: -webkit-radial-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.4),rgba(0,0,0,0.0),rgba(0,0,0,0.0)); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.4),rgba(0,0,0,0.0),rgba(0,0,0,0.0)); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.4),rgba(0,0,0,0.0),rgba(0,0,0,0.0)); /* For Firefox 3.6 to 15 */
	background: radial-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.4),rgba(0,0,0,0.0),rgba(0,0,0,0.0)); /* Standard syntax */
}
.sobre {
	text-align: center;
}
@include bp-maior-768 {
	.content {
		width: 70%;
	}
}
@include bp-maior-992 {
	.content {
		width: 50%;
	}
}